.title {
    display: flex;
    flex: 1;
    width: 100%;
    font-size: 3rem;
    color: #858282;
    font-weight: bolder;
    font-family: "Varela Round", sans-serif;
    padding: 2rem;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}



.log-cont {
  display: flex;
  align-items: center;
  flex-direction: column;

  min-height: 60vh;
  /*height: 60%;*/
  width: 35%;
  padding: 1rem;

  border-radius: 20px;
  background-color: #ffff;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}

.log-inputs {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

@keyframes shake{
    0%, 100% {transform: translateX(0);}
    25% {transform: translateX(8px);}
    75% {transform: translateX(-8px);}
}

.err, .succ, .post-err, .post-succ{
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 5px;
    color: #ffff;
    text-align: center;
}

.err{
    width: 50%;
    background-color: #ff25008f;
    animation: shake 0.1635s 0s 3;
}

.succ {
    width: 50%;
    background-color: #61beb0;
    font-weight: 700;
}

.post-succ {
    width: 40%;
    min-height: 2.5rem;
    background-color: #18ce09a3;
    font-weight: 700;
}

.post-err{
    background-color: #ff25008f;
    width: 40%;
    min-height: 2.5rem;
    animation: shake 0.1635s 0s 3;
    font-weight: 700;
}


.log-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
